{% extends "speciesguide/base.html" %}

{% block content %}

<section class="container-fluid content-section">

	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center page-header">Espécies</h1>
			<form action="" method="get" class="form-inline text-right">
				<div class="form-group">
					<div class="col-xs-10 col-xs-offset-1 text-left">
							<label for="id_family">Filtrar por Família</label>
							{{ filter.form.family}}	
					</div>
				</div>
			</form>
		</div>
	
	</div>
	

	<!-- Profile item -->
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			{% for species in species_list %}
			<div class="thumb-profile col-xs-12">
				<div class="col-xs-3">
					<a href="{% url 'speciesguide:species_detail' species.slug %}"><img src="{{species.thumb}}" class="img-responsive"></img></a>
				</div>
				<div class="caption col-xs-9">
					<h1><em>{{species.name}}</em><br/><small>{{species.vernacular}}</small></h1>
					<p>{{species.description}}</p>
				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}