{% extends "base.html" %}
{% load static %}

<!-- Custom styling -->
{% block customstyle %}
{% endblock %}


<!-- Header banner -->
{% block introheader %}  
	<header class="intro">
		<div class="header-img"></div>
	    <div class="intro-body">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6 col-md-offset-0">
						<div class="brand-text">
							<h2>Guia Interativo dos</h2>
							<h1>Anfíbios</h1>
							<h3>Santuário Ecológico Volta da Serra</h3>
						</div>
	                    <a href="#authors" class="btn btn-circle page-scroll">
	                        <i class="fa fa-angle-double-down animated"></i>
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
{% endblock %}


<!-- Page content -->
{% block content %}
 	<!-- Authors Section -->
    <section id="authors" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Os Autores</h2>
                	<!-- Author 1 -->
                	<div class="thumb-profile col-md-12">
                		<div class="img col-xs-3">
							<a href="#" class="hvr-bounce-in">
								<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							</a>
						</div>
						<div class="caption col-xs-9">
							<h3 class="text-left">Author Name</h3>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>					
						</div>
					</div>
					
					<!-- Author 2 -->
                	<div class="thumb-profile col-md-12">
                		<div class="img col-xs-3">
							<a href="#" class="hvr-bounce-in">
								<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							</a>
						</div>
						<div class="caption col-xs-9">
							<h3 class="text-left">Author Name</h3>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>	
						</div>
					</div>
	
					<!-- Author 3 -->
                	<div class="thumb-profile col-md-12">
                		<div class="img col-xs-3">
							<a href="#" class="hvr-bounce-in">
								<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							</a>
						</div>
						<div class="caption col-xs-9">
							<h3 class="text-left">Author Name</h3>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>	
						</div>
					</div>
					
					<!-- Author 4 -->
                	<div class="thumb-profile col-md-12">
                		<div class="img col-xs-3">
							<a href="#" class="hvr-bounce-in">
								<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							</a>
						</div>
						<div class="caption col-xs-9">
							<h3 class="text-left">Author Name</h3>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>	
						</div>
					</div>
					
					<!-- Author 5 -->
                	<div class="thumb-profile col-md-12">
                		<div class="img col-xs-3">
							<a href="#" class="hvr-bounce-in">
								<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							</a>
						</div>
						<div class="caption col-xs-9">
							<h3 class="text-left">Author Name</h3>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>	
						</div>
					</div>

            </div>
        </div>
    </section>
	
	<!-- Sanctuary Section -->
    <section id="sanctuary" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>O Santuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section>
    
    <!-- Species Section -->
    <section id="species" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Os Anfíbios</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>
				<div id="species"class="col-md-8 col-md-offset-2">
					<div class="thumb-link col-md-4">
						<a href="#" class="hvr-bounce-in">
							<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							<div class="thumb-link-caption">
								<div class="thumb-link-caption-content">
								Sapos
								</div>
							</div>
						</a>
					</div>
					
					<div class="thumb-link col-md-4">
						<a href="#" class="hvr-bounce-in">
							<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							<div class="thumb-link-caption">
								<div class="thumb-link-caption-content">
								Pererecas
								</div>
							</div>
						</a>
					</div>
					
					<div class="thumb-link col-md-4">
						<a href="#" class="hvr-bounce-in">
							<img src="http://placehold.it/350x350" class="thumb img-circle img-responsive">
							<div class="thumb-link-caption">
								<div class="thumb-link-caption-content">
								Rãs
								</div>
							</div>
						</a>
					</div>
					
					</div>
				</div>
			</div>
        </div>
    </section>
    
    <!-- Support Section -->
    <section id="support" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Apóie o Projeto</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
		<div class="separator clearfix"></div>
		<div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Agradecimentos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu vel elit ullamcorper blandit in vitae nibh. Etiam eget ipsum ut tellus scelerisque elementum. Donec maximus sem sapien, eu ornare quam posuere eget. Suspendisse velit nisi, lacinia et urna sit amet, placerat tempus nisi.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
		
    </section>
    
{% endblock %}